@font-face {
  font-family: 'Space Mono';
  src: url(./SpaceMono/SpaceMono-Bold.ttf) format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url(./SpaceMono/SpaceMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
